
@{
    ViewBag.Title = "MonHoc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
<style>
    h2 {
        margin-left: 20px;
    }

    .btn-add {
        margin-right: 20px;
    }
</style>

<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Home/Index">Quản lý</a></li>
            <li class="breadcrumb-item active" aria-current="page">Môn học</li>
        </ol>
    </nav>


</div>


<div class="text-right btn-add">
    <button type="button" class="btn btn-primary btn-lg" onclick="addMonHoc()"><i style="padding-right:5px" class="fas fa-plus"></i>Thêm Môn Học</button>
</div>

<br />
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-striped" id="myTable">
            <thead>
                <tr>

                    <th scope="col">Tên môn học</th>
                    <th scope="col">Ngành</th>
                    <th scope="col">Tín chỉ</th>
                    <th scope="col">Niên khóa</th>
                    <th scope="col">Môn tiên quyết</th>
                    <th scope="col">Chức năng</th>
                </tr>
            </thead>
            <tbody>
                @using (DACSEntities db = new DACSEntities())
                {

                    var monhoc = db.MONHOCs.ToList();
                    foreach (var item in monhoc.ToList())
                    {
                        <tr>
                            <td>@item.TENMONHOC</td>
                            <td>@item.TINCHI.IDTINCHI</td>
                         
                            <td>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-primary mr-10" onclick="EditNganh(@item.IDMONHOC)"><i class="fa fa-edit"></i></button>
                                    <button type="button" class="btn btn-danger ml-10" onclick="DeleteNganh(@item.IDMONHOC,'@item.IDMONHOC')"><i class="fa fa-trash"></i></button>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<!--Model Thêm-->
<div id="modal" class="modal fade create-service-md" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông tin môn học</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="col-form-label">Niên Khóa</label>
                        <select class="form-control" name="NIENKHOA" onchange="UpdateNganh()" id="idNienKhoa">
                            @using (DACSEntities db = new DACSEntities())
                            {

                                foreach (var idNienKhoa in db.NIENKHOAs.ToList())
                                {
                                    <option value="@idNienKhoa.IDNIENKHOA">@idNienKhoa.NAMENIENKHOA</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Ngành</label>
                        <select class="form-control" name="NGANH" id="IDNGANH">
                            @using (DACSEntities db = new DACSEntities())
                            {

                                foreach (var idNganh in db.NGANHs.ToList())
                                {
                                    <option value="@idNganh.IDNGANH" class="option-nganh" id-nienkhoa="@idNganh.IDNIENKHOA">@idNganh.NAMENGANH</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Tên môn học</label>
                        <input type="text" class="form-control" name="MONHOC">
                    </div>

                    <div class="form-group">
                        <label class="col-form-label">Số tín chỉ</label>
                        <select class="form-control" name="TINCHI">
                            @using (DACSEntities db = new DACSEntities())
                            {

                                foreach (var idTC in db.TINCHIs.ToList())
                                {
                                    <option value="@idTC.IDTINCHI">@idTC.SOTINCHI</option>
                                }
                            }
                        </select>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" onclick="SaveInfo()"><i class="far fa-save"></i> Lưu lại</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    UpdateNganh();
    function UpdateNganh() {
        var idNienkhoa = $("#idNienKhoa").val();
        $(".option-nganh").each(function () {
            var option_nienkhoa = $(this).attr("id-nienkhoa");
            if (option_nienkhoa == idNienkhoa) $(this).show()
            else $(this).hide();

            $("#IDNGANH").val("")
        })
    }


    $(document).ready(function () {
        $('#myTable').DataTable();


    });

    let idNganh = 0;

    function addMonHoc() {
        idNganh = 0;

        $("[name='MONHOC']").val('');

        $("#modal").modal("show");
    }

    function SaveInfo() {
        let nganh = $("[name='NGANH']").val();
        let nienkhoa = $("[name='NIENKHOA']").val();
        if (nganh == '' || nienkhoa == '') {
            $.notify("Vui lòng nhập thông tin !", "error");
            return;
        }
        $.ajax({
            url: '/Ajax/PostNganh',
            type: 'POST',
            contentType: "application/x-www-form-urlencoded; charset=utf-8",
            dataType: "json",
            data: {
                NAMENGANH: nganh,
                IDNIENKHOA: nienkhoa


            },
        }).done(function (result) {
            if (result.Success) {
                alert('Cập nhật thành công');
                location.reload();
                return;
            }

        });

    }
    function EditNganh(id) {
        idNganh = id;
        $.ajax({
            url: '/Ajax/GetNganh/' + idNganh,
            type: 'GET',
            dataType: 'text',
            data: {
                id: idNganh,
            }
        }).done(function (ketqua) {
            var json = JSON.parse(ketqua);
            $("#addTitle").html("Thông tin ngành");
            $("[name='NGANH']").val(json.NAMENGANH);
            $("#modal").modal("show");

        });
    }
    function DeleteNganh(id) {
        if (!confirm("Bạn có muốn xóa ngành này không?")) return;
        $.ajax({
            url: '/Ajax/DeleteNganh/' + id,
            type: 'POST',
            contentType: "application/x-www-form-urlencoded; charset=utf-8",
            dataType: "json",
        }).done(function (ketqua) {
            if (ketqua.Success) {
                $.notify("Xóa thành công !", "success");
                location.reload();
                return;
            }
        }).fail(function (result) {
            if (!result.Success) {
                $.notify("Có lỗi xảy ra !", "error");
            }
        });
    }
</script>



